body {
    font-family: "Open Sans", sans-serif;
    display: block;
    margin: 0;
    padding: 0;
}

#video {
    position: relative;
    background: #aaa;
    width: 100%;
    height: 65vh;
    /* max-height: 25rem; */
}

#controller {
    width: 100%;
}

#container {
    color: #ddd;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** loop */
#loop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
}

#loop .btn {
    position: relative;
    display: block;
    cursor: pointer;
    /* border: none; */
    border: 2px solid #ddd;
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 1rem;
}

#loop .btn i {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    margin: -1.5rem;

    font-size: 3rem;
    color: #ddd;
}

#loop .btn .fa-chevron-left {
    left: 50%;
    margin-left: -2rem;
}

#loop .btn .fa-chevron-right {
    right: 50%;
    margin-right: -2rem;
}

#loop .start,
#loop .end {
    font-size: 2.5rem;
    font-weight: 300;
}

/** play */

#play {
    display: flex;
    justify-content: center;

    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}
#play .btn {
    cursor: pointer;
    padding: 1rem;
    color: #555;
}

#play .left,
#play .right {
    padding: 1rem;
    font-size: 2rem;
    color: #555;
}

/** subtitle */
#video #caption-container {
    position: relative;
}

#video #caption {
    position: absolute;
    bottom: 2.8rem;
    color: white;
    background: #111;
    font-size: 1.3rem;
    left: 20%;
    width: min-content;
}

#video #caption span {
    margin-right: 0.5rem;
}

#video #caption span:hover {
    cursor: pointer;
    background: white;
    color: #111;
    font-weight: 600;
    padding: 0rem 0.125rem;
    border-radius: 2.5px;
}

/* #video .word {
    padding: 0.5rem;
    background: #111;
    color: white;
} */

/* media query 
    @media all and (selector)
    보통 selector는 width
*/
@media all and (max-width: 500px) {
    #video {
        height: 20rem;
    }
}
