body {
    font-family: "Open Sans", sans-serif;
    display: block;
    margin: 0;
    padding: 0;
}

#video {
    background: #aaa;
    width: 100%;
    height: 65vh;
    /* max-height: 25rem; */
}

#video::after {
    
}

#controller {
    width: 100%;
    margin-top: 1rem;
}

#container {
    color: #ddd;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** loop */
#loop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
}

#loop .btn {
    position: relative;
    display: block;
    cursor: pointer;
    /* border: none; */
    border: 2px solid #ddd;
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 1rem;
}

#loop .btn i {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    margin: -1.5rem;

    font-size: 3rem;
    color: #ddd;
}

#loop .btn .fa-chevron-left {
    left: 50%;
    margin-left: -2rem;
}

#loop .btn .fa-chevron-right {
    right: 50%;
    margin-right: -2rem;
}

#loop .start,
#loop .end {
    font-size: 2.5rem;
    font-weight: 300;
}

/** play */

#play {
    display: flex;
    justify-content: center;

    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}
#play .btn {
    cursor: pointer;
    padding: 1rem;
    color: #555;
}

#play .left,
#play .right {
    padding: 1rem;
    font-size: 2rem;
    color: #555;
}

/** subtitle */
#subtitle {
    color: #111;
    padding: 1rem;
    border: 1px solid #aaa;
    text-align: center;
}

#subtitle span {
    margin-right: 5px;
}

#subtitle span:hover {
    cursor: pointer;
    background: #ffec99;
}

#subtitle span .popup {
    background: #f8f0fc;
    position: absolute;
    width: fit-content;
    bottom: -14px;
    left: 50%;
    color: #333;
    font-size: 12px;
    margin-left: -25%;
}

/* media query 
    @media all and (selector)
    보통 selector는 width
*/
@media all and (max-width: 500px) {
    #video {
        height: 20rem;
    }
}
