html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem 1rem;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    margin: 0;
    cursor: pointer;
}

ul li img {
    width: 100%;
}
